<!DOCTYPE html>
<html>
    <head>
        <title>SASS Pricing Tables</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div id="container">
            <ul class="price-tbl">
                <li class="tbl-block">
                    <h3>Simple</h3>
                    <div class="price">
                        <span>$8.99</span> Per Month
                    </div>
                    <ul class="features">
                        <li><em>2</em> GB Disk Space</li>
                        <li><em>10</em> GB Bandwidth</li>
                        <li><em>5</em> Email Accounts</li>
                        <li><em>5</em> FTP Accounts</li>
                        <li><em>5</em> MySQL Databases</li>
                        <li><em>24/7</em> Support</li>
                    </ul>
                    <div class="tbl-footer">
                        <a class="btn btn-primary" href="#">Buy Now</a>
                    </div>
                </li>
                <li class="tbl-block">
                    <h3>Standard</h3>
                    <div class="price">
                        <span>$14.99</span> Per Month
                    </div>
                    <ul class="features">
                        <li><em>5</em> GB Disk Space</li>
                        <li><em>20</em> GB Bandwidth</li>
                        <li><em>10</em> Email Accounts</li>
                        <li><em>10</em> FTP Accounts</li>
                        <li><em>10</em> MySQL Databases</li>
                        <li><em>24/7</em> Support</li>
                    </ul>
                    <div class="tbl-footer">
                        <a class="btn btn-primary" href="#">Buy Now</a>
                    </div>
                </li>
                <li class="tbl-block highlight">
                    <h3>Super</h3>
                    <div class="price">
                        <span>$19.99</span> Per Month
                    </div>
                    <ul class="features">
                        <li><em>20</em> GB Disk Space</li>
                        <li><em>50</em> GB Bandwidth</li>
                        <li><em>Unlimited</em> Email Accounts</li>
                        <li><em>Unlimited</em> FTP Accounts</li>
                        <li><em>Unlimited</em> MySQL Databases</li>
                        <li><em>24/7</em> Support</li>
                    </ul>
                    <div class="tbl-footer">
                        <a class="btn btn-primary" href="#">Buy Now</a>
                    </div>
                </li>
                <li class="tbl-block">
                    <h3>Unlimited</h3>
                    <div class="price">
                        <span>$39.99</span> Per Month
                    </div>
                    <ul class="features">
                        <li><em>Unlimited</em> GB Disk Space</li>
                        <li><em>Unlimited</em> GB Bandwidth</li>
                        <li><em>Unlimited</em> Email Accounts</li>
                        <li><em>Unlimited</em> FTP Accounts</li>
                        <li><em>Unlimited</em> MySQL Databases</li>
                        <li><em>24/7</em> Support</li>
                    </ul>
                    <div class="tbl-footer">
                        <a class="btn btn-primary" href="#">Buy Now</a>
                    </div>
                </li>
            </ul>
        </div>
    </body>
</html>