<small>
  <ul class="list-unstyled list-inline list-social-icons">
    <li>
      <a href="https://www.facebook.com/Tutorsonlinepro"><i class="fa fa-facebook-square fa-2x"></i></a>
    </li>
    <li>
      <a href="https://twitter.com/tutorsonlinepro"><i class="fa fa-twitter-square fa-2x"></i></a>
    </li>
    <li>
      <a href="mailto:tutorsonlinepro@gmail.com"><i class="fa fa-envelope-square fa-2x"></i></a>
    </li>
  </ul>
</small>
