<!-- /.Rox new code for price tables -->
<div class="container pricing" id="container">
  <ul class="price-tbl">
    <li class="tbl-block pricing-package">
      <h3>Basic</h3>
      <div class="price">
        <div class="price-amount">$200</div>
        <div class="price-per">per</div>
        <div class="price-month">month</div>
      </div>
      
      <div class="features-container">
        <div class="features-whats-included">
          What's included...
        </div>
        <ul class="features-list">
          <li><em>2</em> Lessons / week</li>
          <li><em>Private</em> Teacher</li>
          <li><em>Instant</em> Feedback</li>
          <li><em>Video</em> Classes</li>
          <li><em>Consult</em> the teacher</li>
          <li><em>Flexible</em> Hours</li>
        </ul>
      </div>
      <div class="tbl-footer">
        <%= link_to "Book Now", '#', class: 'btn btn-secondary' %>
      </div>
    </li>
    <li class="tbl-block pricing-package">
      <h3>Standard</h3>
      <div class="price">
        <div class="price-amount">$300</div>
        <div class="price-per">per</div>
        <div class="price-month">month</div>
      </div>
      
      <div class="features-container">
        <div class="features-whats-included">
          What's included...
        </div>
        <ul class="features-list">
          <li><em>3</em> Lessons / week</li>
          <li><em>Private</em> Teacher</li>
          <li><em>Instant</em> Feedback</li>
          <li><em>Video</em> Classes</li>
          <li><em>Consult</em> the teacher</li>
          <li><em>email</em> Support</li>
          <li><em>Flexible</em> Hours</li>
        </ul>
      </div>
      <div class="tbl-footer">
        <%= link_to "Book Now", '#', class: 'btn btn-secondary' %>
      </div>
    </li>
    <li class="tbl-block pricing-package">
      <h3>Premium</h3>
      <div class="price">
        <div class="price-amount">$400</div>
        <div class="price-per">per</div>
        <div class="price-month">month</div>
      </div>
      
      <div class="features-container">
        <div class="features-whats-included">
          What's included...
        </div>
        <ul class="features-list">
          <li><em>4</em> Lessons / week</li>
          <li><em>Private</em> Teacher</li>
          <li><em>Instant</em> Feedback</li>
          <li><em>Video</em> Classes</li>
          <li><em>Consult</em> the teacher</li>
          <li><em>email</em> Support</li>
          <li><em>Flexible</em> Hours</li>
          <li><em>Allows</em> 2 Cancelations</li>
        </ul>
      </div>
      <div class="tbl-footer">
        <%= link_to "Book Now", '#', class: 'btn btn-secondary' %>
      </div>
    </li>
    <li class="tbl-block pricing-package pricing-vip">
      <h3><strong>VIP</strong></h3>
      <div class="price">
        <div class="price-amount">$440</div>
        <div class="price-per">per</div>
        <div class="price-month">month</div>
      </div>
      
      <div class="features-container">
        <div class="features-whats-included">
          What's included...
        </div>
        <ul class="features-list">
          <li><em>5</em> Lessons / week</li>
          <li><em>Private</em> Teacher</li>
          <li><em>Personalized</em> Curriculum</li>
          <li><em>Instant</em> Feedback</li>
          <li><em>High</em> Intensity</li>
          <li><em>Video</em> Classes</li>
          <li><em>Consult</em> the teacher</li>
          <li><em>Unlimited</em> email Support</li>
          <li><em>Flexible</em> Hours</li>
          <li><em>24/7</em> Availability</li>
          <li><em>Allows</em> Cancelations</li>
        </ul>
      </div>
      <div class="tbl-footer">
        <%= link_to "Book Now", '#', class: 'btn btn-secondary' %>
      </div>
    </li>
  </ul>
</div>
