<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Affordable monthly plans
                
            </h1>
            <ol class="breadcrumb">
                <li><%= link_to 'Home', root_path %>
                </li>
                <li class="active">  Book a trial lesson or a monthly package</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                        <h3 class="panel-title">English Conversation Course</h3>
                </div>

                    <div class="list-group-item"> <!--ON MOUSEHOVER SHOULD SELECT one of the prices!!! -->
                       <ul>
                    <span class="price"><sup>$ </sup>9<sup>99</sup></span>
                      </li><span class="period">1 private lesson</span>
                      </ul>

                    </div>

                <div class="list-group-item">
                <ul>
                    <span class="price"><sup>$ </sup>99<sup>99</sup></span>
                    </li><span class="label label-success">Great Value! 10 private lessons + <strong>2 FREE</strong></span>
                </ul>
                
                </div>

                <div class="list-group-item">
                <ul>
                    <span class="price"><sup>$ </sup>199<sup>99</sup></span>
                    </li><span class="label label-success">Great Value! 20 private lessons + <strong>4 FREE</strong></span>
                </ul>
                
                </div>
                    <li class="list-group-item"><a href="#" class="btn btn-primary">Sign Up!</a></li>
                    
                </div>
                 </div>


        <div class="col-md-4">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                        <h3 class="panel-title">Business English Course</h3>
                </div>

                    <div class="list-group-item"> <!--ON MOUSEHOVER SHOULD SELECT one of the prices!!! -->
                       <ul>
                    <span class="price"><sup>$ </sup>14<sup>99</sup></span>
                      </li><span class="period">1 private lesson</span>
                      </ul>

                    </div>

                <div class="list-group-item">
                <ul>
                    <span class="price"><sup>$ </sup>149<sup>99</sup></span>
                    </li><span class="label label-success">Great Value! 10 private lessons + <strong>2 FREE</strong></span>
                </ul>
                
                </div>

                <div class="list-group-item">
                <ul>
                    <span class="price"><sup>$ </sup>299<sup>99</sup></span>
                    </li><span class="label label-success">Great Value! 20 private lessons + <strong>4 FREE</strong></span>
                </ul>
                
                </div>
                    <li class="list-group-item"><a href="#" class="btn btn-primary">Sign Up!</a></li>
                    
            </div>
        </div>
         <div class="col-md-4">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                        <h3 class="panel-title">Exam Preparation English Course</h3>
                </div>

                    <div class="list-group-item"> <!--ON MOUSEHOVER SHOULD SELECT one of the prices!!! -->
                       <ul>
                    <span class="price"><sup>$ </sup>19<sup>99</sup></span>
                      </li><span class="period">1 private lesson</span>
                      </ul>

                    </div>

                <div class="list-group-item">
                <ul>
                    <span class="price"><sup>$ </sup>199<sup>99</sup></span>
                    </li><span class="label label-success">Great Value! 10 private lessons + <strong>2 FREE</strong></span>
                </ul>
                
                </div>

                <div class="list-group-item">
                <ul>
                    <span class="price"><sup>$ </sup>399<sup>99</sup></span>
                    </li><span class="label label-success">Great Value! 20 private lessons + <strong>4 FREE</strong></span>
                </ul>
                
                </div>
                    <li class="list-group-item"><a href="#" class="btn btn-primary">Sign Up!</a></li>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
