<!-- Page Content -->
<div class="container">
  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Affordable monthly plans</h1>
    </div>
  </div>
  <!-- /.row -->
  <!-- Original Content Row
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-primary text-center">
        <div class="panel-heading">
          <h3 class="panel-title">English Pronounciation Course</h3>
        </div>
        <div class="list-group-item">
          <ul>
            <span class="price"><sup>$ </sup>9<sup>99</sup></span>
            </li><span class="period">1 private lesson</span>
          </ul>
        </div>
        <div class="list-group-item">
          <ul>
            <span class="price"><sup>$ </sup>99<sup>99</sup></span>
            </li><span class="label label-success">Great Value! 10 private lessons + <strong>2 FREE</strong></span>
          </ul>

        </div>
        <div class="list-group-item">
          <ul>
            <span class="price"><sup>$ </sup>199<sup>99</sup></span>
            </li><span class="label label-success">Great Value! 20 private lessons + <strong>4 FREE</strong></span>
          </ul>

        </div>
        <li class="list-group-item"><a href="#" class="btn btn-primary">Sign Up!</a></li>

      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary text-center">
        <div class="panel-heading">
          <h3 class="panel-title">Business English Course</h3>
        </div>
        <div class="list-group-item">
          <ul>
            <span class="price"><sup>$ </sup>14<sup>99</sup></span>
            </li><span class="period">1 private lesson</span>
          </ul>
        </div>
        <div class="list-group-item">
          <ul>
            <span class="price"><sup>$ </sup>149<sup>99</sup></span>
            </li><span class="label label-success">Great Value! 10 private lessons + <strong>2 FREE</strong></span>
          </ul>

        </div>
        <div class="list-group-item">
          <ul>
            <span class="price"><sup>$ </sup>299<sup>99</sup></span>
            </li><span class="label label-success">Great Value! 20 private lessons + <strong>4 FREE</strong></span>
          </ul>

        </div>
        <li class="list-group-item"><a href="#" class="btn btn-primary">Sign Up!</a></li>

      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary text-center">
        <div class="panel-heading">
          <h3 class="panel-title">Exam Preparation English Course</h3>
        </div>
        <div class="list-group-item">
          <ul>
            <span class="price"><sup>$ </sup>19<sup>99</sup></span>
            </li><span class="period">1 private lesson</span>
          </ul>
        </div>
        <div class="list-group-item">
          <ul>
            <span class="price"><sup>$ </sup>199<sup>99</sup></span>
            </li><span class="label label-success">Great Value! 10 private lessons + <strong>2 FREE</strong></span>
          </ul>

        </div>
        <div class="list-group-item">
          <ul>
            <span class="price"><sup>$ </sup>399<sup>99</sup></span>
            </li><span class="label label-success">Great Value! 20 private lessons + <strong>4 FREE</strong></span>
          </ul>

        </div>
        <li class="list-group-item"><a href="#" class="btn btn-primary">Sign Up!</a></li>
      </div>
    </div>
  </div>

</div>
Original Content Row end //-->
<!-- /.Rox new code for price tables -->
<head>
  <title>Online English lessons via Skype</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div id="container">
    <ul class="price-tbl">
      <li class="tbl-block">
        <h3>Basic</h3>
        <div class="price">
          <span>$99.99</span> Per Month
        </div>
        <ul class="features">
          <li><em>2</em> Lessons / week</li>
          <li><em>Private</em> Teacher</li>
          <li><em>Instant</em> Feedback</li>
          <li><em>Video</em> Classes</li>
          <li><em>Consult</em> the teacher</li>
          <li><em>Flexible</em> Hours</li>
        </ul>
        <div class="tbl-footer">
          <a class="btn btn-primary" href="#">Buy Now</a>
        </div>
      </li>
      <li class="tbl-block">
        <h3>Standard</h3>
        <div class="price">
          <span>$149.99</span> Per Month
        </div>
        <ul class="features">
          <li><em>3</em> Lessons / week</li>
          <li><em>Private</em> Teacher</li>
          <li><em>Instant</em> Feedback</li>
          <li><em>Video</em> Classes</li>
          <li><em>Consult</em> the teacher</li>
          <li><em>email</em> Support</li>
          <li><em>Flexible</em> Hours</li>
        </ul>
        <div class="tbl-footer">
          <a class="btn btn-primary" href="#">Buy Now</a>
        </div>
      </li>
      <li class="tbl-block">
        <h3>Premium</h3>
        <div class="price">
          <span>$199.99</span> Per Month
        </div>
        <ul class="features">
          <li><em>4</em> Lessons / week</li>
          <li><em>Private</em> Teacher</li>
          <li><em>Instant</em> Feedback</li>
          <li><em>Video</em> Classes</li>
          <li><em>Consult</em> the teacher</li>
          <li><em>email</em> Support</li>
          <li><em>Flexible</em> Hours</li>
          <li><em>Allows</em> 2 Cancellations</li>
        </ul>
        <div class="tbl-footer">
          <a class="btn btn-primary" href="#">Buy Now</a>
        </div>
      </li>
      <li class="tbl-block">
        <h3><strong>VIP</strong></h3>
        <div class="price">
          <span>$399.99</span> Per Month
        </div>
        <ul class="features">
          <li><em>5</em> Lessons / week</li>
          <li><em>Private</em> Teacher</li>
          <li><em>Personalized</em> Curriculum</li>
          <li><em>Instant</em> Feedback</li>
          <li><em>High</em> Intensity</li>
          <li><em>Video</em> Classes</li>
          <li><em>Consult</em> the teacher</li>
          <li><em>Unlimited</em> email Support</li>
          <li><em>Flexible</em> Hours</li>
          <li><em>24/7</em> Availability</li>
          <li><em>Allows</em> Cancellations</li>
        </ul>
        <div class="tbl-footer">
          <a class="btn btn-primary" href="#">Buy Now</a>
        </div>
      </li>
    </ul>
  </div>
</body>
