/* Number of Columns */

$columns: 4;

/* Colors */

$background-color: #ffffff;
$primary-color: #00aff0;
$secondary-color: #6fbf44;
$secondary-hover: #65a443;
$block-bg-color: #fff;
$block-heading-color: #333;