html body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-weight: 300 !important;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  line-height: 1.6;

  h2 {
    margin-top: 4px;
  }

  h4 {
    margin-bottom: 24px;
  }
}

.container {
  &.home {
    .panel-body {
      height: 190px;

      .english-pronunciation-courses {
        margin-top: 30px;
      }
    }
  }

  &.pricing {

    .pricing-vip {
      border: none !important;
      box-shadow: 0px 0px 16px #47C252;
       .price {
        background: #47C252;
      }
      .btn {
        background: #47C252;
      }
      em {
        color: #47C252;
      }
    }

    .features-container {
      position: relative;

      .features-whats-included {
        position: absolute;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 2px;
        font-size: 13px;
        color: #fff;
        background: #333;
        top: -23px;
        left: 30px;
        right: 30px;
        height: 23px;
        text-align: center;
        z-index: 2;
      }

      .features-list {
        position: relative;
        top: -6px;

        li {
          line-height: 2em;
          text-align: center;
          padding: 10px 0;

          &:first-child {
            margin-top: 23px;
          }
        }
        em {
          font-weight: bold;
        }
        li:nth-child(odd) {
          background: #f4f4f4;
        }
      }
    }

    .price-tbl {
      .tbl-block {
        border: 1px solid rgba(0, 0, 0, 0.2);
        overflow: hidden;
        border-radius: 10px;

        h3 {
          margin-top: 0;
          margin-bottom: 0px;
        }

        .btn-primary {
          margin-bottom: 6px;
        }
      }
    }

    .price {
      padding: 10px;

      .price-amount {
        font-size: 42px;
        margin-bottom: 12px;
        margin-top: 12px;
      }
      .price-per {
        font-size: 18px;
        font-style: italic;
        margin-top: 12px;
      }
      .price-month {
        font-size: 24px;
        margin-top: 4px;
        margin-bottom: 4px;
      }
    }

    .tbl-footer .btn {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      margin: 0px;

      &:hover, &:active {
        color: #fff !important;
      }
    }
  }

  &.courses {
    .btn-secondary {
      position: relative;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100px;
    }

    p {
      font-size: 18px;
      line-height: 1.3;
      text-align: justify;
    }

    .row {
      h3 {
        margin-top: 0;
      }
    }
  }

  &.contact {
    h3 {
      background: none;
      color: #000;
    }

    .col-lg-3 {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      float: none;
      text-align: center;
    }

    small {
      margin-top: 10px;
      display: block;
    }
  }
}
