/* Include Config File*/
/* Number of Columns */
/* Colors */
/* line 4, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 9, ../sass/style.scss */
body {
  background-color: #242e30;
  line-height: 1.5em;
}

/* line 17, ../sass/style.scss */
ul, li {
  list-style: none;
}

/* line 21, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 25, ../sass/style.scss */
em {
  font-style: bold;
  color: #3c8b9c;
}

/* line 30, ../sass/style.scss */
#container {
  width: 900px;
  margin: 50px auto;
  max-width: 900px;
}

/* line 36, ../sass/style.scss */
.tbl-block {
  float: left;
  width: 23%;
  margin: 0 1%;
  box-sizing: border-box;
  background: white;
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 51, ../sass/style.scss */
.tbl-block h3 {
  background: #333333;
  color: #fff;
  text-align: center;
  font-size: 22px;
  padding: 15px;
}

/* line 60, ../sass/style.scss */
.tbl-block:hover {
  border: 4px #242e30 solid;
}

/* line 64, ../sass/style.scss */
.price {
  text-align: center;
  padding: 20px;
  background: #3c8b9c;
  color: #fff;
}
/* line 70, ../sass/style.scss */
.price span {
  font-size: 25px;
  font-weight: bold;
}

/* line 77, ../sass/style.scss */
.features li {
  line-height: 2em;
  text-align: center;
  padding: 10px 0;
}
/* line 83, ../sass/style.scss */
.features em {
  font-weight: bold;
}
/* line 87, ../sass/style.scss */
.features li:nth-child(odd) {
  background: #f4f4f4;
}

/* line 92, ../sass/style.scss */
a.btn {
  padding: 7px 10px;
  border: #cc solid 1px;
  text-align: center;
  display: block;
  margin: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* line 102, ../sass/style.scss */
a.btn-primary {
  background: #6fbf44;
  color: #fff;
}

/* line 107, ../sass/style.scss */
a.btn-primary:hover {
  background: #65a443;
}

/* Featured Packaged */
/* line 113, ../sass/style.scss */
.highlight {
  height: 525px;
  margin-top: -30px;
  border: #fff solid 4px;
}
/* line 118, ../sass/style.scss */
.highlight a.btn {
  margin-top: 7px;
}
/* line 122, ../sass/style.scss */
.highlight li {
  padding: 12px !important;
}

@media (max-width: 768px) {
  /* line 1, ../sass/_mobile.scss */
  #container {
    width: 80%;
  }

  /* line 6, ../sass/_mobile.scss */
  .tbl-block {
    float: none;
    width: 100%;
  }

  /* line 12, ../sass/_mobile.scss */
  .tbl-block:hover {
    border: 0;
  }

  /* line 16, ../sass/_mobile.scss */
  .highlight {
    height: auto;
    margin-top: 0;
    border: 0;
  }
  /* line 21, ../sass/_mobile.scss */
  .highlight a.btn {
    margin-top: 0;
  }
}
