<!-- Footer -->
<div class="container">
  <hr>
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <%= render partial: 'shared/social' %>
        <p>Copyright &copy; TutorsOnlinePro 2017</p>
      </div>
    </div>
  </footer>
</div>
<!-- /.container -->
