<%# add navigation links to this file %>

<li><%= link_to 'Courses', page_path('portfolio-1-col') %></li>
<li><%= link_to 'Prices', page_path('pricing') %></li>
<li><%= link_to 'Contact', page_path('contact') %></li>
<!-- TODO -->
<li><% link_to 'Blog', page_path('blog-home-2') %></li>
